REACHPRO_COOKIE=
ACTIVE_ACCOUNT_ID=7a13a9c9-4ef4-492e-9eb0-19adcfa79da3
DATABASE_PATH=./scarcity.db
NOTION_API_KEY=
NOTION_STALL_RENTS_DATABASE_ID=
TEAMS_WEBHOOK_URL=
EVENTS_TEAMS_WEBHOOK_URL=
FACILITY_SCAN_INTERVAL_HOURS=1
EVENTS_SCAN_INTERVAL_HOURS=1
LYSTED_TEAMS_WEBHOOK_URL=
LYSTED_SCAN_INTERVAL_HOURS=3
SHAREPOINT_TENANT_ID=
SHAREPOINT_CLIENT_ID=
SHAREPOINT_CLIENT_SECRET=
SHAREPOINT_REPORT_SITE_HOST=yourspotrented.sharepoint.com
SHAREPOINT_REPORT_SITE_PATH=/sites/MaxParkArbLLC
SHAREPOINT_REPORT_FOLDER_PATH=Stubhub Team/Pricing_Alerts
